*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    background-image: url(./images/background.jfif);
}
.mainhedder{
    width: 100%;
    height: auto;
    background-color: #2e76fc;
     /* position: fixed ;
    top: 0px;  */
    display: flex;
    justify-content: space-evenly;
   align-items: center;  
   flex-wrap: wrap;
   
   
    
}
.logo{
    width: 100px;
}
  .search{
      width: 200px;
      height: 35px;
      margin-left: 10px;
  }
  .login{
      width: 100px;
      height: 30px;
      margin-left: 20px;
      color: #2e76fc;
      
      font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  #More{
      background-color: #2e76fc;
      color: whitesmoke;
      text-align: center;
      /* margin-left: 10vh; */
      height: 30px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
  .Cart{
      margin : 10px;
      font-size: 1.0rem;
      color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
 
  .firstrow{
     display: flex;
      justify-content: space-around;
      justify-items: flex-start;
      align-items: center;
      align-content: flex-start;
      flex-flow: wrap;
      text-decoration: none;
      background-color: mintcream;
      border: 1px white outset;
      height: auto;
      margin: 1px 0px 1px 0px;
  }
  .pic{
      width: 70px;
      height: 60px;
      /* text-align: center; */
  }

  .heddings{
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 10px;
  }

  .main-slide{
      display: flex;
      justify-content: center;
      align-items: center;
      /* height: 100vh;
      width: 100%; */

  }
  .slid{
      

  }
  .Dealoftheday{
      margin: 1px;
      border: 1px white outset;
      height: 10vh;
      background-color: mintcream;
      display: flex;
      align-items: center;
     

  }
  .Deal{
font-family: sans-serif;
margin-left: 4vh;
  }

  .secondrow{
    background-color: mintcream;
      height: auto;
      display: flex;
      justify-content: space-evenly;
      justify-items: flex-start;
      flex-wrap: wrap;
      align-items: center;
      border: 1px whitesmoke outset;
  }
  .pic-1{
      width: 70px;
      height: 60px;
      margin : 10px 0px 0px 10px;
  }
  .Mensfootwear{

  }
  .Mens-img{

  }
  



