*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    background-image: url(./images/background.jfif);
}
.navbar{
    background-color: darkblue;
    width: 100%;
    height: auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: center;
   position: relative;
}

.logo img{
    width: 50px;
    height: 30px;
}
.login{
    
}
.cart{
    color: whitesmoke;
    font-size: 20px;
    font-family:sans-serif ;
    /* border: 2px solid red; */
    padding: 0px 15px;
  
}
.search input {
    width: 250px;
    
   
}
.search-icon{
    position: absolute;
    left: 0px;
}


 
  .firstrow{
     display: flex;
      justify-content: space-around;
      justify-items: flex-start;
      align-items: center;
      align-content: flex-start;
      flex-flow: wrap;
      text-decoration: none;
      background-color: mintcream;
      border: 1px white outset;
      height: auto;
      margin: 1px 0px 1px 0px;
  }
  .pic{
      width: 60px;
      height: 60px;
      /* text-align: center; */
  }

  .heddings{
    text-align: center;
    word-wrap: break-word;
    margin-bottom: 10px;
  }

  .main-slide{
      display: flex;
      justify-content: center;
      align-items: center;
      /* height: 100vh; */
      /* width: 100%; */

  }
  .slid{
      width: 100%;
  

  }
  .Dealoftheday{
      margin: 1px;
      border: 1px white outset;
      height: 10vh;
      background-color: mintcream;
      display: flex;
      align-items: center;
     

  }
  .Deal{
font-family: sans-serif;
margin-left: 4vh;
  }

  .secondrow{
    background-color: mintcream;
      height: auto;
      display: flex;
      justify-content: space-evenly;
      justify-items: flex-start;
      flex-wrap: wrap;
      align-items: center;
      border: 1px whitesmoke outset;
  }
  .pic-1{
      width: 70px;
      height: 60px;
      margin : 10px 0px 0px 10px;
  }
  


  /* foooter design */

  .footer-container{
      background-color: rgba(0, 0, 0, 0.836);
      width: 100%;
      height: auto;
      display: flex;
      color: whitesmoke;
      justify-content: space-around;
      /* align-items: center; */
      line-height: 20px;
      
  }



